{echo:JS::import('form')}
<div class="mt20 login box clearfix">
	<div class="head">重新设定新密码</div>
	<div class="fl login-form mt20" style="border:none;">
		{if:$status=='success'}
		<form action="{url:/simple/reset_password_act}" method="post">
			<input type="hidden" value="{$safecode}" name="safecode">
			<dl class="clearfix">
				<dt>新&nbsp;&nbsp;密&nbsp;&nbsp;码：</dt><dd><input type="password" bind="repassword" minlen=6 maxlen=20 class="input" name="password" pattern="required"><label>6-20任意字符组合</label></dd>
			</dl>
			<dl class="clearfix">
				<dt>确认密码：</dt><dd><input type="password"  minlen=6 maxlen=20  bind="password" class="input" name="repassword" pattern="required" ><label>6-20任意字符组合</label></dd>
			</dl>
			<dl class="clearfix">
				<dt></dt><dd style="padding-left:200px;"><input type="submit" class="btn" value="设定新密码"></dd>
			</dl>
		</form>
		{else:}
			<p>连接地址已过期，请用使用最新的密码找回连接地址。</p>
			<div class="mt20 tc"><a href="{url:/index/index}" class="btn ">返回首页</a></div>
		{/if}
	</div>
</div>