<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{url:@static/css/base.css}" />
<link rel="stylesheet" href="{url:@static/css/admin.css}" />
<link rel="stylesheet" href="{url:@static/css/font_icon.css}" />
{echo:JS::import('jquery')}
<script type="text/javascript" src="{url:@static/js/common.js}"></script>
<!--[if lte IE 7]><script src="{url:@static/css/fonts/lte-ie7.js}"></script><![endif]-->
</head>
<body style="background: none;">
    {__viewcontents}
</body>
</html>