<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>worldUHot商城</title>
	<link type="text/css" rel="stylesheet" href="{url:@static/css/common.css}" />
	{echo:JS::import('jquery');}
	<script type='text/javascript' src="{url:@static/js/common.js}"></script>
	<!--[if IE 6]>
		<script src="{url:@static/js/DD_belatedPNG-min.js}"></script>
		<script>DD_belatedPNG.fix('.ie6png');</script>
	<![endif]-->
</head>
<body class="screen_960">
	<!--S 头部 -->
	<div id="header" class="clearfix">
		<div class="header-main" style="border-bottom:#7c0000 2px solid;">
			<div class="wrap">
				<div class="logo "><a href="{url:/index/index}"><img class="ie6png" src="{url:@$site_logo}" style="max-height:74px;"></a></div>
			</div>
		</div>
	</div>
	<!--E 头部 -->
	<!--S content-->
	<div id="content">
		<div class="wrap">
		{if:isset($msg)}
		<div class="message-box mt5" >
			<div class="message-head"><div class="message_{$msg[0]} ie6png">{$msg[1]}</div><i class="fail"></i></div>
			<div class="message-content">
			</div>
		</div>
		{/if}
			{__viewcontents}
		</div>
	</div>
	<!--E content-->
	<!--S 底部 -->
	<div id="footer" class="mt20  ">
		<div class="wrap">
			<div class="copyright" style="border: 0">
				<div><a href="">联系我们</a> <a href="">公司简介</a> <a href=""></a> <a href="">法律条款</a></div>
				<!--S 非授权用户不要删除版权信息，您的支持是我们的成长动力。-->
				<div>Copyright © 2017 大象软件 tinyrise.com . 保留所有权利 。湘ICP备0000001号 </div>
				<span class="fr">Powered by <a href="#"><b style="color: #7c0000">WorldUHot</b><b style="color: #666">Shop</b></a></span>
				<!--E 非授权用户不要删除版权信息，您的支持是我们的成长动力。-->
			</div>
		</div>

	</div>
	<!--E 底部 -->
</body>
</html>