{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/distribution/agent_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
    <a href='{url:/distribution/agent_edit}' class="icon-plus" > 添加</a>
    <a class="icon-delicious" href="{url:/distribution/agent_list}"> 全部用户</a>
    <span class="fr"><a href='javascript:;' id="condition" class="icon-search" style="" > 筛选条件</a><input id="condition_input" type="hidden" name="condition" value="{$condition}"></span>
</div>
<table class="default" >
    <tr>
        <th style="width:30px">选择</th>
        <th style="width:70px">操作</th>
        <th style="width:100px">手机号</th>
        <th style="width:100px">微信号</th>
        <th style="width:100px">真实姓名</th>
        <th style="width:60px">积分</th>
        <th style="width:130px">注册时间</th>
        <th style="width:60px">状态</th>
        <th style="width:80px">代理等级</th>
        <th style="width:80px">上级分销商</th>
        <th style="width:80px">推荐分销商</th>
    </tr>
    {query:name=agent as ag fields = ag.*,dis.name as level_name,rag.real_name as rname,pag.real_name as pname join =left join level as dis on ag.level eq dis.id left join agent as rag on ag.recom eq rag.id left join agent as pag on ag.parent eq pag.id where=$where id=$obj page=1 order=ag.id desc }
        <tr><td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
        <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                <li><a class="icon-point-up" href="{url:/distribution/agent_audit/status/1/id/$item[id]}"> 激活</a></li>
                <li><a class="icon-point-down" href="{url:/distribution/agent_audit/status/0/id/$item[id]}"> 拉黑</a></li>
                <li><a class="icon-pencil" href="{url:/distribution/agent_edit/id/$item[id]}"> 编辑</a></li>
                <li><a class="icon-remove-2" href="javascript:confirm_action('{url:/distribution/agent_del/id/$item[id]}')"> 删除</a></li>
            </ul></div></div> </td>
        <td style="width:100px">{$item['mobile']}</td><td style="width:100px">{$item['weixin']}</td><td style="width:100px">{$item['real_name']}</td><td style="width:60px">{$item['point']}</td><td style="width:100px">{$item['reg_time']}</td><td style="width:60px">{if:$item['status']==1}<b class="green">激活</b>{else:}<b class="red">拉黑</b>{/if}</td>
        <td style="width:80px">{$item['level_name']}</td>
        <td style="width:80px">{$item['pname']}</td>
        <td style="width:80px">{$item['rname']}</td></tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>
<script type="text/javascript">
    var form =  new Form();
    $("#condition").on("click",function(){
    $("body").Condition({input:"#condition_input",okVal:'高级搜索',callback:function(data){tools_submit({action:'{url:/distribution/agent_list}',method:'get'});},data:{'weixin':{name:'微信号'},real_name:{name:'真实姓名'},mobile:{name:'手机号码'},reg_time:{name:'注册时间'}
    }});
    });
</script>
