{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('form');}
<form action="" method="post">
<div class="tools_bar clearfix">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/customer/grade_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"> 删除</a>
    <a href='{url:/customer/grade_edit}' class="icon-plus" > 添加</a>
</div>
<table class="default" >
    <tr>
        <th style="width:30px">选择</th>
        <th style="width:70px">操作</th>
        <th >等级名</th>
        <th style="width:170px">需要满足的消费份额</th>
        
    </tr>
    {query:name=grade id=$obj page=1 desc }
        <tr><td style="width:30px"><input type="checkbox" name="id[]" value="{$item['id']}"></td>
        <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                        <li><a class="icon-pencil" href="{url:/customer/grade_edit/id/$item[id]}"> 编辑</a></li>
                        <li><a class="icon-remove-2" href="javascript:confirm_action('{url:/customer/grade_del/id/$item[id]}')"> 删除</a></li>
                    </ul></div></div> </td>
        <td>{$item['name']}</td><td style="width:170px">{$item['money']}</td></tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>

