{echo:JS::import('form')}
{set:$items=array("填写账户信息","验证身份","设置新密码","完成");}
{widget:name=sub_navs action=crumbs items=$items step=4 current=3}
<div class="container">
	<div class="simple-box clearfix " style="width:600px;margin:40px auto;" >
		<div class="login-form " style="border:none;">
			{if:$status=='success'}
			<form class="form" action="{url:/simple/reset_password_act}" method="post">
				<input type="hidden" value="{$safecode}" name="safecode">
				<ul>
					<li><span class="perfix fa">&#xf023;</span><input bind="repassword" minlen=6 maxlen=20 class="input" type="password" name="password" pattern="required" minlen=6 maxlen=20 placeholder="新密码" alt="6-20任意字符组合"></li>
					<li><span class="perfix fa">&#xf084;</span><input bind="password" minlen=6 maxlen=20 class="input" type="password"  name="repassword" pattern="required" placeholder="确认新密码" minlen=6 maxlen=20 alt="6-20任意字符组合"></li>
					<li class="clearfix">
						<dt></dt><dd style="padding-left:200px;"><input type="submit" class="btn btn-main" value="设定新密码"></dd>
					</li>
				</ul>
			</form>
			{else:}
			<div class="status-bar">
			<i class="icon-error-48"></i><span>验证码或连接已过期。</span>
			</div>
			<div class="mt20 tc"><a href="{url:/index/index}" class="btn btn-main">返回首页</a></div>
			{/if}
		</div>
	</div>
</div>
<script type="text/javascript">
	$("input[pattern]").on("blur",function(event){
		var current_input = $(this);
		var result = autoValidate.validate(event);
		if(result){
			current_input.parent().removeClass('invalid').addClass('valid');
		}else{
			current_input.parent().removeClass('valid').addClass('invalid');
		}
	});
</script>
