{echo:JS::import('dialog?skin=brief');}
{echo:JS::import('dialogtools');}
{echo:JS::import('validator');}
<form action="" method="post">
<div class="tools_bar">
    <a class="icon-checkbox-checked icon-checkbox-unchecked" href="javascript:;" onclick="tools_select('id[]',this)" title="全选" data="true"> 全选 </a>
    <a  class="icon-remove-2" href="javascript:;" onclick="tools_submit({action:'{url:/goods/goods_spec_del}',msg:'删除后无法恢复，你真的删除吗？'})" title="删除"><i>删除</i></a>
    <a href='{url:/goods/goods_spec_edit}' class="icon-plus" > 添加</a>
</div>
<table class="default">
    <tr>
        <th style="width:30px">选择</th>
        <th style="width:70px">操作 </th>
        <th>名称</th>
        <th style="width:120px">类型</th>
    </tr>
    {query:name=goods_spec page=1 id=$obj order=id desc}
        <tr><td><input type="checkbox" name="id[]" value="{$item['id']}"></td>
        <td style="width:70px" class="btn_min"><div class="operat hidden"><a  class="icon-cog action" href="javascript:;"> 处理</a><div class="menu_select"><ul>
                <li><a class="icon-pencil" href="{url:/goods/goods_spec_edit/id/$item[id]}"> 编辑</a></li>
                <li><a class="icon-remove-2" href="javascript:confirm_action('{url:/goods/goods_spec_del/id/$item[id]}')"> 删除</a></li>
               </ul></div></div></td>
        <td>{$item['name']}({$item['note']})</td><td>{if:$item['type']==1}文字{else:}图片{/if}</td></tr>
    {/query}
</table>
</form>
<div class="page_nav">
{echo:$obj->pageBar()}
</div>